<p>card2 works!</p>

<mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" matInput #inputTitle>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddCard(inputTitle.value)">Add Card</button>
  
<mat-card class="card" *ngFor="let cardTitle of titles">
    <mat-card-header>
      <mat-card-title>{{cardTitle}}</mat-card-title>
    </mat-card-header>
    <button mat-raised-button color="primary" (click)="onDeleteCard(cardTitle)">Delete Card</button>
  </mat-card>